.button {
  margin-top: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  border-radius: 5px;
  border-color: transparent;
  padding: 10px 30px;
}
