.form {
  margin-bottom: 15px;
}

.input {
  padding: 10px;
  border: 2px solid #395870;
  border-radius: 5px;
  outline: none;
}

.button {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  border-radius: 5px;
  border-color: transparent;
  padding: 10px 10px;
}
